header{
    background-color: #2c3e50;
}

.nav-dx {
    list-style-type: none;
    display: flex;
    margin: 0;
}
.nav-dx li {
    padding: 10px;
}

.nav-dx li a {
    text-decoration: none;
    color: white;
}
.white{
    color: white;
}

.jumbotron,
.about{
    background-color:#19bc9c;
}

.square-img{
    width: 100%;
    height: 10em;
    background-color: violet;
    margin: auto;

}


.portfolio {
    height: 500px;
    padding: 50px;
}



.cont-portfolio-img {
    width: 12em;
    height: 8em;
    border-radius: 10px;
    background-color: crimson;
}