header{
    background-color: #2c3e50;
}

.white{
    color: white;
}
.txt-center{
    text-align: center;
}

.al-self-center{
    align-self: center;
}

.jumbotron{
    background-color:#19bc9c;
    height: 500px;
    padding: 50px;
}

.square-img{
    width: 100%;
    height: 10em;
    background-color: violet;
    margin: auto;

}

.square-text{
    width: 100%;
    height: 13em;
    background-color: yellow;
}

